@import "tailwindcss";
@import "@fontsource/archivo-black/index.css";

html {
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: hidden;
    min-height: screen;
}

body {
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: hidden;
}

@theme {
    --color-footer: #1E1E1E;
    --color-lightbg: #40516d;
    --color-icon: #7a8dab;
    --color-container: #a9c3ee;
    --color-placeholder: #BDD5FB;
    --font-title: 'Archivo Black', sans-serif;
}